</main>
</div>
    <div style="display: flex; flex-direction:column; min-height: 20vh;">
        <footer class="bg-body-tertiary text-center" style="position: fixed; bottom:0%; width:100%;">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
                &copy;2024 Xang Hang
            </div>
          </footer>
    </div>
</div>
</body>
</html>