</main>
</div id="page-container">
    <div id="content-wrap">
        <footer id="footer" style="position: relative; bottom: 0; width:100%;">
            &copy;2024 Xang Hang
        </footer>
    </div>
</div>
</body>
</html>