<%- include('partials/top') %>
<h1>Contact Me</h1>
<!-- <form method="POST" action="/contact-me">
    <label>First Name:</label>
    <br>
    <input type="text" id="txtFirstName" name="firstName">
    <br>

    <label>Last Name:</label>
    <br>
    <input type="text" id="txtLastName" name="lastName">
    <br>

    <label>Email:</label>
    <br>
    <input type="text" id="txtEmail" name="email">
    <br>

    <label>Comments:</label>
    <br>
    <textarea id="txtComments" name="comments"></textarea>
    <br>
    <input type="submit" value="SUBMIT">
</form> -->

<form class="row g-3">
    <div class="container my-1 py-1 text-dark"></div>
        <div class="row d-flex justify-content-start"></div>
    <div class="col-4" style="margin:10px;">
      <label for="inputFirstName" class="form-label">First Name</label>
      <input type="firstName" class="form-control" id="inputFirstName">
    </div>
    <div class="col-4" style="margin:10px;">
      <label for="inputLastName" class="form-label">Last Name</label>
      <input type="lastName" class="form-control" id="inputLasttName">
    </div>
    <div class="col-6"  style="margin:10px;">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" placeholder="john@gmail.com">
    </div>
    <div class="col-12">
      <label for="comment" class="form-label" style="margin:10px;">Comments</label>
        <div class="form-outline">
            <textarea class="form-control" id="textArea" rows="10" placeholder="Limit 250 Characters..." maxlength="250" style="width: 50%; margin:10px;"></textarea>
        </div>
    </div>
   
    <!-- <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label> -->
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
<%- include('partials/bottom') %>