<%- include('partials/top') %>
<script src="/js/contact-validation.js"></script>
<br>
<div class="container h-100">
  <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column" style="flex-basis: 1500px; flex-grow: 100px; flex-shrink: 100px;">
      <h1>Contact Me</h1>
    </div>
  </div>
</div>
<form class="row g-3" method="POST" action="/contact-me" id="contactForm">
  <div class="container h-100">
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column" style="flex-basis: 1000px; flex-grow: 100px; flex-shrink: 100px;">
      <div class="container my-1 py-1 text-dark"></div>
           <div class="row d-flex justify-content-start"></div> 
      <div class="col-4" style="margin:10px;">
        <label for="inputFirstName" class="form-label">First Name</label>
        <input type="firstName" class="form-control" id="inputFirstName" name="firstName">
        <span id="vFirstName"  class="validation"></span>
      </div>
      <div class="col-4" style="margin:10px;">
        <label for="inputLastName" class="form-label">Last Name</label>
        <input type="lastName" class="form-control" id="inputLasttName" name="lastName">
        <span id="vLastName"  class="validation"></span>
      </div>
      <div class="col-6"  style="margin:10px;">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" placeholder="john@gmail.com"  name="email">
        <span id="vEmail"  class="validation"></span>
      </div>
      <div class="col-12">
        <label for="comment" class="form-label" style="margin:10px;">Comments</label>
          <div class="form-outline">
              <textarea  name="comments" class="form-control" id="textArea" rows="10" placeholder="Limit 2500 Characters..." maxlength="2500" style="width: 50%; margin:10px;"></textarea>
              <span id="vComments" class="validation"></span>
          </div>
      </div>
      <div class="col-12" style="padding: 10px;">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
    </div>
  </div>
</form>
<%- include('partials/bottom') %>



<!-- <form method="POST" action="/contact-me">
    <label>First Name:</label>
    <br>
    <input type="text" id="txtFirstName" name="firstName">
    <br>

    <label>Last Name:</label>
    <br>
    <input type="text" id="txtLastName" name="lastName">
    <br>

    <label>Email:</label>
    <br>
    <input type="text" id="txtEmail" name="email">
    <br>

    <label>Comments:</label>
    <br>
    <textarea id="txtComments" name="comments"></textarea>
    <br>
    <input type="submit" value="SUBMIT">
</form> -->