<%- include('partials/top') %>
<br>
<div class="container h-100">
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column" style="flex-basis: 1500px; flex-grow: 100px; flex-shrink: 100px;">
        <div>
            <h1>About Me</h1>
                <p>
                    Hello there, you have found the secret donation page.
                </p>
        </div>
<%- include('partials/bottom') %>