<%- include('partials/top') %>
<br>
<div class="container h-100">
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column" style="flex-basis: 1500px; flex-grow: 100px; flex-shrink: 100px;">
        <h1>Welcome to My Website</h1>
      </div>
    </div>
<div>
<p>This page will soon show a list of links to blog posts that I have written (in markdown files)</p>
<%- include('partials/bottom') %>