<%- include('partials/top') %>
<br>
<div class="container h-100">
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column" style="flex-basis: 1500px; flex-grow: 100px; flex-shrink: 100px;">
        <div>
          <h1>About Me</h1>
            <div>
              <img src="../images/Myproject.png" alt="kitten"  style="width: 70px; height: 70px; float: right;">
            </div>
              <p>
                My name is Xang Hang and welcome to my page. I am currently attending Western Technical College and am in the Web and Software Development program.
              </p>
              <p>
                Currently I work for a third party administrator as a data entry specialist. 
              </p>
              <p>
                I work in the COBRA department and specialize on the participant side of COBRA. Once an employee is let go we receive paperwork to enter them into the system and send out their election letter. Once the election letter is filled out and returned we make their elections in the system and send them coupons. Additionally, the participant side of COBRA also sends out General Initial Notices to the clients new hires who have elected coverage. I also process takeover participants from new clients.
              </p>
              <p>
                Overall, the COBRA participant side has four processes that is worked on. I am at the end of that process and answer questions, provide processing instructions, and reach out to the clients for any missing information.
              </p>
              <p>
                On my free time I like to play games and sometimes get out of the house and go fishing with my friends. I also like catching up on shows I missed throughout the years when I have time.
              </p>
        </div>
      </div>
    </div>
<div>
<p>This page will soon show a list of links to blog posts that I have written (in markdown files)</p>
<%- include('partials/bottom') %>