img[alt=create-vue-install] {width: 100%};

img[alt=create-vue] {width: 100%;};

body {
    color: black;
    background-color: white;
  }
  body.dark-theme {
    color: white;
    background-color: black;
  }

  .validation{
    color: red;
    display: block;
  }